@charset "UFT-8";

/*
em HTML id = # em CSS, pode ser usado apenas em 1 elemento
em HTML class = . em CSS, é para ser usado em mais de um elemento
podendo utilizar mais de uma classe em um elemento e junto de um id */ 

body{
    background-color: rgb(216, 255, 157);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(100, 128, 117);
}

h1#principal{
    text-align: center;
    background-color: rgb(141, 211, 37);
    color: white;
}


h2{
    color: rgb(165, 165, 165);
}

.basico{
color: green;
}

.inter{
color: rgb(226, 226, 5);
}

.avancado{
color: red;
}

.destaque{
    background-color: salmon;
}